form#workflow(action="/workflows/#{params.id || ''}", method='post')
  if params.id
    input(type='hidden', name='_method', value='put')
  fieldset(class=workflow.errors && 'errors')
    != field(workflow, 'name', {inputClass: 'input-xlarge'})
    != field(workflow, 'schedule', {inputClass: 'input-large', help: 'in the form: "sec min hour dayofmonth month dayofweek" (<a href="http://help.sap.com/saphelp_xmii120/helpdata/en/44/89a17188cc6fb5e10000000a155369/content.htm">help</a>)'})
    != field(workflow, 'enabled', {label: 'Schedule Enabled', tagType: 'checkbox'})
    != field(workflow, 'workerName', {label: 'Worker Name', help: 'which worker will process this workflow'})
    != field(workflow, 'definition', {tag: 'textarea', inputClass: 'input-xxlarge'})
    .form-actions
      button.btn.btn-primary(type='submit') Save
