extends ../layout

block content
  p
    | Welcome to Boomer Sooner, the distributed workflow engine
    | and web-based management app, brought to you from the
    | <a href="http://en.wikipedia.org/wiki/Oklahoma"><img src="/img/ok.png"/> Sooner State</a>.

  include _list
