extends ../layout

block content
  p
    :markdown
      Welcome to [Sooner.io](http://github.com/seven1m/sooner.io), the distributed job scheduling engine
      and web-based management app, brought to you from the
      ![Oklahoma](/img/ok.png) [Sooner State](http://en.wikipedia.org/wiki/Oklahoma).

  include _list
