tr
  td
    a.show-output(href='#')
      i.icon-plus
    |  
    a.show-run(href='#')
  td.ranAt
  td.completedAt
  td.progress-cell
    .progress.progress-striped(class='runStatusClass(run)')
      .bar(style='width:0%')
  td.status
//-tr.output(style='display:none;')
  //-td.formatted(colspan=5)
    //-!= 'escapeAndLink(run.output)'
