h2.name

table.table.table-bordered
  tbody
    tr
      th Started
      td.ranAt
    tr
      th Completed
      td.completedAt
    tr
      th Job
      td
        a.showJob(href='#')
        |  
        a.editJob(href='#')
          i.icon-pencil
    tr
      th Progress
      td.progress-cell
        .right.margin-left.stop-control
          a.btn.stopRun(href='#')
            i.icon-exclamation-sign
            |  Stop
        .progress.progress-striped
          .bar(style='width:0%')
    tr
      th Status
      td.status
    tr
      th Exit Code
      td.result
    tr
      th Output
      td.output.formatted
