color-outline = #333
color-neutral = #999
color-good = #08c
color-warning = #bd9300
color-error = #cb4500

body
  padding 20px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

h1, h2, h3
  font-family "Bree Serif", Arial, Helvetica, sans-serif

header h1
  float right
  color #b00000

h2 i
  color #b00000
  vertical-align baseline

h3
  color #777

nav
  margin-top 10px
  a:focus
    outline none

#main
  margin-top 10px;

textarea#definition, input#schedule, .formatted
  font 12pt Inconsolata, monospace
  white-space pre

textarea#definition
  width 99%
  height 400px

#queue-query
  display none
  margin-top 20px
  .alert
    display none
  textarea
    width 430px
    height 50px
    &:first-child
      margin-right 15px

table
  .disabled
    color #ccc

table td.actions
  a
    margin-right 15px

td>.progress
  margin 0

.right
  float right

.form-actions.right
  float none
  text-align right

.margin-left
  margin-left 15px

#run-data
  display none
  width 400px
  margin-bottom 0
  margin-right 10px

h2 .secondary
  color #999

td.data table td
  border-left none

.pagination
  text-align center

.form-actions
  .pagination
    text-align left
    margin 0
    li a
      background-color #fff

.control-bar
  background-color #eee
  padding 3px 10px
  border-radius 4px
  margin 5px 0

.clear
  clear both
  height 0
  overflow hidden

.graph, .graph svg
  width 112px
  height 112px
  .misc
    stroke color-outline
    fill color-neutral
  /* some common status colors */
  .success, .good, .complete, .finished
    fill color-good
  .warn, .warning, .pending, .wait, .waiting
    fill color-warning
  .err, .error, .problem, .fail, .failure
    fill color-error

.queue
  h2
    background-color #ddd
    border-top-left-radius 5px
    border-top-right-radius 5px
    padding 5px 15px
    margin -15px -15px 10px -15px
  background-color #eee
  margin-bottom 25px
  padding 15px
  min-height 151px
  border-radius 5px
  .misc, .statuses
    color color-neutral
  /* some common status colors */
  .success, .good, .complete, .finished
    color color-good
  .warn, .warning, .pending, .wait, .waiting
    color color-warning
  .err, .error, .problem, .fail, .failure
    color color-error
  .statuses
    float left
    width 200px
    .table th, .table td
      border none
  .graphs
    float left
