body
  padding 20px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

h1, h2, h3
  font-family "Bree Serif", Arial, Helvetica, sans-serif

header h1
  float right
  color #b00000

h2 i
  color #b00000
  vertical-align baseline

nav
  margin-top 10px
  a:focus
    outline none

#main
  margin-top 10px;

textarea#definition, input#schedule, .formatted
  font 12pt Inconsolata, monospace
  white-space pre

textarea#definition
  width 99%
  height 400px

#queue-query
  display none
  margin-top 20px
  .alert
    display none
  textarea
    width 430px
    height 50px
    &:first-child
      margin-right 15px

table
  .disabled
    color #ccc

table td.actions
  a
    margin-right 15px

td>.progress
  margin 0

.right
  float right

.form-actions.right
  float none
  text-align right

.margin-left
  margin-left 15px

#run-data
  display none
  width 400px
  margin-bottom 0
  margin-right 10px

h2 .secondary
  color #999

td.data table td
  border-left none

.pagination
  text-align center

.form-actions
  .pagination
    text-align left
    margin 0
    li a
      background-color #fff

.control-bar
  background-color #eee
  padding 3px 10px
  border-radius 4px
  margin 5px 0

.clear
  clear both
  height 0
  overflow hidden
