extends ../layout

block content
  p
    | Welcome to Boomer Sooner, the automated workflow
    | scheduling engine and management app, brought to you from the
    | <a href="http://en.wikipedia.org/wiki/Oklahoma">Sooner State</a>.

  include ../workflows/_list
