:markdown
  Welcome to [Sooner.io](http://github.com/seven1m/sooner.io), the distributed job scheduling engine
  and web-based management app, brought to you from the
  ![Oklahoma](/img/ok.png) [Sooner State](http://en.wikipedia.org/wiki/Oklahoma).

#job-list-container
  h2 Jobs

  table.table.table-bordered.table-striped
    thead
      tr
        th Name
        th Schedule
        th Hooks
        th Last Run
        th Last Status
        th
    tbody

  p.no-jobs: em no jobs defined

h3 Help

:markdown
  Jobs can be added/updated via Git:

      git clone username@workerHost:/path/to/sooner.io/scripts.git
      vim myScript.coffee
      chmod +x myScript.coffee
      git add myScript.coffee
      git commit -m "Add my script"
      git push

  See the [README](https://github.com/seven1m/sooner.io/blob/master/README.md) for more information.
