h2.name

table.table.table-bordered
  tbody
    tr
      th Description
      td.description
    tr
      th Created
      td.createdAt
    tr
      th Updated
      td.updatedAt
    tr
      th Schedule
      td.formatted.schedule
    tr
      th Hooks
      td.hooks
    tr
      th Worker Name
      td.workerName
    tr
      th Timeout
      td.timeout
    tr
      th Last Run
      td.lastRanAt
    tr
      th Last Status
      td.lastStatus

.form-actions
  a.btn.edit-button(href='/jobs/:id/edit')
    i.icon-pencil
    |  Edit
  .right#run-data-area
    input#run-data(name='data', placeholder='data (optional)')
    a.btn(href='#')
      i.icon-cog
      |  Run Now

h3 History

#job-history
