body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

h2 i
  vertical-align baseline

#main
  margin-top 25px;

textarea#definition, input#schedule, .table .formatted
  font 12pt Inconsolata, monospace
  white-space pre

textarea#definition
  height 200px

table
  .disabled
    text-decoration line-through

table td.actions
  a
    margin-right 15px

.page-link
  display inline-block
  padding 1px 5px
  margin 2px
  border 1px solid #ccc
  text-decoration none

.form-actions .right
  float right
