body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

#main
  margin-top 25px;

textarea#definition, input#schedule, .table .schedule
  font 12pt Inconsolata, monospace;

textarea#definition
  height 200px

table td.actions
  a
    margin-right 15px
