#report-list-container
  table.table.table-bordered.table-striped
    thead
      tr
        th Name
        th Last Run
        th
    tbody

h3 Help

p Reports can be added/updated just like jobs &mdash; just be sure to put them in the <code>/reports</code> folder.

p See the <a href="https://github.com/seven1m/sooner.io/blob/master/README.md">README</a> for more information.
