h2 Queues

if queues.length > 0
  table.table.table-bordered.table-striped
    thead
      tr
        th Name
    tbody
      for queue in queues
        tr
          td
            a(href="/queues/#{queue}")= queue
else
  p: em no queues defined
