extends ../layout

block content
  include _list

  h3 Help

  :markdown
    A queue is simply a [Mongoose](http://mongoosejs.com/) model.
    See the [README](https://github.com/seven1m/sooner.io/blob/master/README.md) for more information.
