!!! 5
html
  head
    title
      block title
        | Boomer Sooner
    != css('bootstrap.min')
    != css('main')
    != js('jquery.min')
    != js('bootstrap.min')
    != js('date')
    != js('rails')
    script(src='/socket.io/socket.io.js')
    != js('main')
    link(href='http://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')

  body
    nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Boomer Sooner
          ul.nav
            li(class=req.path.match(/^\/workflows/) && 'active')
              a(href='/workflows') Workflows
            li(class=req.path.match(/^\/status/) && 'active')
              a(href='/status') Status

    #main
      .container
        .row
          .span12
            block content
