.right
  a#show-queue-query(href='#')
    i.icon-eye-open
h2
  span.name
  |  
  span.count.secondary

#queue-query
  .alert.alert-error
    a.close(data-dismiss='alert') ×
    strong Oh snap!
    |  You should enter a valid JSON string, e.g.
    code {"status": "pending"}
  table
    tr
      td
        | Query:
        textarea#query.formatted(name='query')
      td
        | Sort:
        textarea#sort.formatted(name='sort')
  input(type='submit', value='Update View')

#entries

//-if badQuery
  //-:coffeescript
    //-$('#queue-query').show()
    //-$('#queue-query .alert').show()
