!!! 5
html
  head
    title
      block title
        | Sooner.io

    script(src='/socket.io/socket.io.js')
    != js('/env')
    script(src='/js/templates.js')

    != css('/vendor/stylesheets/bootstrap')
    != css('/stylesheets/main')
    link(href='http://fonts.googleapis.com/css?family=Inconsolata|Happy+Monkey', rel='stylesheet', type='text/css')

  body
    .container
      .row
        .span12
          header
            h1 Sooner.io
          nav
            ul.nav.nav-tabs
              li.tab.jobs
                a(href='/jobs') Jobs
              li.tab.queues
                a(href='/queues') Queues
              li.tab.status
                a(href='/status') Status

    #main
      .container
        .row
          .span12.root
