!!! 5
html
  head
    title
      block title
        | Sooner.io

    script(src='/socket.io/socket.io.js')
    != js('/env')
    script(src='/js/templates.js')

    != css('/vendor/stylesheets/bootstrap')
    != css('/stylesheets/main')
    link(href='http://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')

  body
    nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Sooner.io
          ul.nav
            li
              a(href='/jobs') Jobs
            li
              a(href='/queues') Queues
            li
              a(href='/status') Status

    #main
      .container
        .row
          .span12.root
